<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Members Only</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
</head>
<body>

  <header>
    <h1>Members Only</h1>
    <div class="user-controls">
      <% if (locals.user) { %>
        <span class="username">@<%= user.username %></span>
        <a class="button" href="/log-out">Log out</a>
      <% } else { %>
        <a class="button" href="/log-in">Log in</a>
        <a class="button" href="/sign-up">Sign up</a>
      <% } %>
    </div>
  </header>



  <main>
    <% if (locals.user && locals.user.verified) { %>
      <div class="new-post-wrapper">
        <a href="/create-post" class="button">New Post</a>
      </div>
    <% } else if (locals.user) {%>
      <div class="verify-box">
        <form id="verify-form" method="POST" action="/verify">
          <p>Your account is not verified. Please enter the secret phrase below:</p>
          <p>What is the music of life?</p>
          <div class="input-group">
            <input type="text" name="phrase" required />
            <button type="submit">Verify</button>
          </div>
        </form>
      </div>
    <% } %>


    <% if (locals.posts && posts.length > 0) { %>
      <% posts.forEach(post => { %>
        <%- include('partials/post-card', { post, verified: locals.user?.verified }) %>
      <% }) %>
    <% } else { %>
      <p>No posts to show.</p>
    <% } %>
  </main>

</body>
</html>