<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
</head>
<body>
  <header>
    <h1>Members Only</h1>
  </header>

  <div class="auth-container">
    <h2>Sign Up</h2>

    <% if (locals.errors && locals.errors.length > 0) { %>
      <ul class="error-messages">
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <form action="/sign-up" method="post">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" name="firstName" value="<%= locals.data?.firstName || '' %>" />

      <label for="lastName">Last Name</label>
      <input id="lastName" type="text" name="lastName" value="<%= locals.data?.lastName || '' %>" />

      <label for="username">Username</label>
      <input id="username" type="text" name="username" required value="<%= locals.data?.username || '' %>" />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Sign Up</button>
    </form>

    <div class="bottom-link">
      Already have an account? <a href="/log-in">Log in</a>
    </div>
  </div>
</body>
</html>
